.parent {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to bottom, #656d70, #164e65, #76a6b8);
    color: #0062ff;
    letter-spacing: 2px;
    align-items: center;
}

li {
    list-style: none;
    display: inline;
    margin-right: 100px;
    transition: all 2.5s;
    font-size: 25px;
}
/* li:focus {
    color: white;
    background-color: red;
} */
li:hover {
    color: rgb(255, 255, 255);
    /* transform: scalex(1.2 1.2); */
}

.first-circle {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: all 1s;
}

.first-circle:hover {
    background-color: black;
    transform: rotate(360deg);
}

.fourth-child {
    background-color: #353432;
    color: white;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    transition: all 1s;
}

p {
    position: relative;
    bottom: 5px;
}

.fourth-child:hover {
    background-color: white;
    color: black;
}

i {
    margin-top: 8px;
    margin-left: 8px;
}

.fa-brands {
    color: #0062ff;
    font-size: 25px;
}

h1:hover {
    color: black;
}
body {
    font-family: system-ui;
    background-color: #353432;
    height: 100vh
}
a {
    text-decoration: none;
    color: #0062ff;
}
.parent-body{background-image: linear-gradient(to right, #345e9a, #aaaac0, #447188);
height: 100vh;
position: relative;
bottom: 150px;}
.wait{font-size: 150px;
text-align: center;}


/* .a:focus {
    color: white;
}
.aa:focus{
    color: white;
} */
.aaa{
    color: white;
}

.tryy{width: 250px;
height: 250px;
background-color: #353432;
border: 4px solid black;
border-radius: 50%;
color: transparent;
margin: 0 auto;}
.tryy:hover{background-color: black;
border: 4px solid #353432;
border-radius: 0%;
color: white;
text-align: center;}
.try{width: 100%;
height: 100%;}
.try:hover{position: relative;
top: 100px;}